<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="exam"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=OLI;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
		<add name="master"
	connectionString="Data Source=(localdb)\MSSQLLocalDB;
Initial Catalog=master;Max Pool Size=120"
	providerName="System.Data.SqlClient" />
	</connectionStrings>
<startup>
	<supportedRuntime version="v4.0"
	sku=".NETFramework,Version=v4.7.2"/>
</startup>
</configuration>